/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background: #e5e5e5;
}

header {
  background: red;
}

.container-header {
  background: #2196f3;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

/* Header */

body {
}

nav {
  display: flex;
}

.logo {
  margin: 25px 0 0 215px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  background-color: aquamarine;
}

.logo-dark {
  color: #000;
}

.navigate {
  margin: 0 0 0 50px;
  background-color: #2196f3;
  display: flex;
}

.tel-mail {
  display: flex;
}

.container-main {
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  background: #2f303a;
}

.container-footer {
  max-width: 1600px;
  margin: 0 auto;
}
