/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*--------------------*/

:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --brand-color: #2196f3;
}

body {
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: var(--primary-color);
  background: #e5e5e5;
}

/* Header */

header {
  background: #fff;
}

.container-header {
  padding: 25px 0 25px 215px;
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

nav {
  align-items: center;
  display: flex;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color);
}

.logo-dark {
  color: #000;
}

.navigate {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0 0 0 43px;
  display: flex;
}

.navigate-item {
  color: var(--primary-color);
  margin: 0 0 0 50px;
}

.active {
  color: var(--brand-color);
}

.tel-mail {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0 0 0 330px;
  align-items: center;
  display: flex;
}

.tel-top {
  margin: 0 0 0 50px;
  color: var(--secondary-color);
}

.mail-top {
  color: var(--secondary-color);
}

.tel-top:hover,
.mail-top:hover,
.navigate-item:hover,
.tel-top:focus,
.mail-top:focus,
.navigate-item:focus,
.tel-mail-bottom:hover,
.tel-mail-bottom:focus {
  color: var(--brand-color);
}

/* Main */

main {
}

.container-main {
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
}

.order-service {
  text-align: center;
  padding: 200px 452px;
  background: #2f303a;
}

h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.contained {
  margin: 30px 0 0 0;
  padding: 10px 32px;
  background: var(--brand-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.skills {
}

h2 {
  margin: 95px 0 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.advantages {
  margin: 50px 215px 0 215px;
  display: flex;
}

.advantages-item h3 {
  margin: 0 0 0 30px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.advantages-item p {
  margin: 10px 0 0 30px;
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.our-job-list {
  margin: 50px 215px 0 215px;
  display: flex;
}

.our-job-box {
  margin: 0 30px 0 0;
}

.our-team {
  margin: 95px 0 0 0;
  padding: 95px 215px;
  background: #f5f4fa;
}

.our-team h2 {
  margin: 0;
}

.our-team-list {
  margin: 50px 0 0 0;
  display: flex;
}

.team-once {
  padding: 0 0 30px 0;
  margin: 0 30px 0 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-once h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin: 30px 0 0 0;
}

.team-once p {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 10px 0 0 0;
}

/* Footer */

footer {
  background: #2f303a;
}

.container-footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 215px;
}

.logo-light {
  color: #fff;
}

address {
  display: block;
  margin: 20px 0 0 0;
}

.adress-bottom {
  font-family: sans-serif;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.tel-mail-bottom,
.tel-mail-bottom {
  margin: 10px 0 0 0;
  font-family: sans-serif;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
